


.AppNavbar{
  position:relative;
  width:100%;
  z-index: 10;
}

.main-content {
  padding-top: 70px;
}

.welcome-section {
  background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
  color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
:root {
  --primary-color: #2575fc;
  --secondary-color: #6a11cb;
  --light-bg: #ffffff;
  --light-grey: #f6f8fa;
  --accent: #e8dada;
  --text-dark: #333;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--light-bg);
  color: var(--text-dark);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.btn-secondary {
  background-color: var(--accent);
  color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  text-decoration: none;
}

/* Card Style */
.event-card {
  background: var(--light-grey);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.details-button {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}